

# Ignore certain file types
*.vpk
*.sq3
*.ekv
*.mdmp


# Ignore bik copies
left4dead2\media\l4d2_background02.bik
left4dead2\media\l4d2_background03.bik
left4dead2\media\l4d2_background04.bik
left4dead2\media\l4d2_background05.bik


### Ignore personal files 
# Let them use their own username etc.
/SmartSteamEmu.ini

# Differs for different installations
/VERSION.txt

# Personal pfp
/SmartSteamEmu/Common/deku.png

# Personal image for identifying installation
/FitGirl.jpg



### Ignore DLLs in main directory, let them use/choose their own
# FitGirl
/steamclient.dll
# Goldberg
/steam_api.dll
# SSE
/SmartSteamEmu.dll

# Ignore files in main directory
/debug.log
/unins000.exe
/unins000.dat
/left4dead2.exe
/left4dead2.ico
/steam_appid.txt


# Ignore some SSE icons and files
/SmartSteamEmu/Plugins/SSEOverlay/550/icon
/SmartSteamEmu/Plugins/SSEOverlay/550/achievements.db

# Ignore disabled  
/SmartSteamEmu*DISABLED*/



### Ignore left4dead2 addons files/folders

# Ignore addon list 
/left4dead2/addonlist.txt

# Ignore readme
/left4dead2/addons/readme.txt


# Ignore workshop mod files
# Note: SteamSteamLoader deletes the contents!
/left4dead2/addons/workshop/

# Ignore other mod packs
/left4dead2/addons/RUNY_MODS
/left4dead2/addons/DISABLED_MODS/
   


# Ignore folders in main directory
/bin
/hl2
/update
/config
/_Redist
/platform
/left4dead2_dlc3
/left4dead2_dlc2
/left4dead2_dlc1
/left4dead2_lv


# Ignore left4dead2 folder files
/left4dead2/*.*
/left4dead2/*.md
/left4dead2/pak*_*.vpk
/left4dead2/whitelist.cfg
/left4dead2/voice_ban.dt
/left4dead2/steam.inf
/left4dead2/stats.txt
/left4dead2/shader_cache.cfg
/left4dead2/serverconfig.vdf
/left4dead2/scene.cache
/left4dead2/program_cache.cfg
/left4dead2/motd.txt
/left4dead2/modelsounds.cache
/left4dead2/missioncycle.txt
/left4dead2/maplist.txt
/left4dead2/mapcycle.txt
/left4dead2/lights.rad
/left4dead2/host.txt
/left4dead2/glbaseshaders.cfg
/left4dead2/gameinfo.txt
/left4dead2/dxsupport_override.cfg
/left4dead2/demoheader.tmp


# Ignore select things from media
###/left4dead2/media #include background edit
left4dead2/media/l4d2_intro.bik
left4dead2/media/l4d2_intro_lv.bik
left4dead2/media/l4d2_intro_lv.mov
left4dead2/media/l4d2_upsell.bik
left4dead2/media/startupvids.360.txt
left4dead2/media/valve.bik
left4dead2/media/valve_xbox_legals.bik


# Ignore left4dead2 folder folders
/left4dead2/bin
/left4dead2/sound/
/left4dead2/scripts/
/left4dead2/screenshots/
/left4dead2/scenes/
/left4dead2/save/
/left4dead2/resource
/left4dead2/reslists
/left4dead2/models
/left4dead2/materials
/left4dead2/maps
/left4dead2/gfx
/left4dead2/expressions
/left4dead2/downloads


# Ignore left4dead2/cfg .cfg files that come with the game
/left4dead2/cfg/videodefaults.txt
/left4dead2/cfg/video.txt
/left4dead2/cfg/video.bak
/left4dead2/cfg/valve.rc
/left4dead2/cfg/valve.360.rc
/left4dead2/cfg/user_default.scr
/left4dead2/cfg/undo360controller.cfg
/left4dead2/cfg/test_start.cfg
/left4dead2/cfg/test_end.cfg
/left4dead2/cfg/splitscreen_on.cfg
/left4dead2/cfg/splitscreen_on.360.cfg
/left4dead2/cfg/splitscreen_off.cfg
/left4dead2/cfg/splitscreen_off.360.cfg
/left4dead2/cfg/moddefaults_mac.txt
/left4dead2/cfg/moddefaults.txt
/left4dead2/cfg/360controller.cfg
/left4dead2/cfg/addonconfig.cfg
/left4dead2/cfg/autoexec.360.cfg
/left4dead2/cfg/banned_ip.cfg
/left4dead2/cfg/config.360.cfg
/left4dead2/cfg/config.cfg
/left4dead2/cfg/config.global.360.cfg
/left4dead2/cfg/config_default.cfg
/left4dead2/cfg/joy_preset_1.cfg
/left4dead2/cfg/joy_preset_2.cfg
/left4dead2/cfg/joy_preset_3.cfg
/left4dead2/cfg/joy_preset_4.cfg
/left4dead2/cfg/listenserver.cfg
/left4dead2/cfg/listenserver360.cfg
/left4dead2/cfg/lowend.cfg
/left4dead2/cfg/modsettings.cfg
/left4dead2/cfg/perf.cfg
/left4dead2/cfg/playtest.360.cfg
/left4dead2/cfg/screenshots.cfg
/left4dead2/cfg/screenshots_undo.cfg
/left4dead2/cfg/settings_default.scr
/left4dead2/cfg/skill1.cfg
/left4dead2/cfg/video_bench_high.txt
/left4dead2/cfg/video_bench_low.txt
/left4dead2/cfg/video_bench_medium.txt
/left4dead2/cfg/video_bench_very_high.txt
/left4dead2/cfg/video_bench_very_high_4k.txt





# Ignore certain sourcemod stuff
##/left4dead2/addons/sourcemod/gamedata/left4dhooks.temp.txt
##/left4dead2/addons/sourcemod/gamedata/
##/left4dead2/addons/sourcemod/gamedata/sdktools.games/engine.l4d.txt
##/left4dead2/addons/sourcemod/gamedata/sdktools.games/engine.l4d2.txt
##/left4dead2/addons/sourcemod/gamedata/sdkhooks.games/game.l4d2.txt
##/left4dead2/addons/sourcemod/gamedata/sdktools.games/game.left4dead2.txt


/left4dead2/addons/sourcemod/logs


/left4dead2/addons/sourcemod/gamedata/core.games/engine.bms.txt
/left4dead2/addons/sourcemod/gamedata/core.games/master.games.txt

/left4dead2/addons/sourcemod/gamedata/sm-cstrike.games/game.css.txt
/left4dead2/addons/sourcemod/gamedata/sm-tf2.games.txt

/left4dead2/addons/sourcemod/gamedata/sdkhooks.games/game.ag2.txt
/left4dead2/addons/sourcemod/gamedata/sdkhooks.games/game.alienswarm.txt
/left4dead2/addons/sourcemod/gamedata/sdkhooks.games/game.aoc.txt
/left4dead2/addons/sourcemod/gamedata/sdkhooks.games/game.cspromod.txt
/left4dead2/addons/sourcemod/gamedata/sdkhooks.games/game.cstrike.txt
/left4dead2/addons/sourcemod/gamedata/sdkhooks.games/game.dinodday.txt
/left4dead2/addons/sourcemod/gamedata/sdkhooks.games/game.doi.txt
/left4dead2/addons/sourcemod/gamedata/sdkhooks.games/game.empires.txt
/left4dead2/addons/sourcemod/gamedata/sdkhooks.games/game.ff.txt
/left4dead2/addons/sourcemod/gamedata/sdkhooks.games/game.gesource.txt
/left4dead2/addons/sourcemod/gamedata/sdkhooks.games/game.hidden.txt
/left4dead2/addons/sourcemod/gamedata/sdkhooks.games/game.insurgency.txt
/left4dead2/addons/sourcemod/gamedata/sdkhooks.games/game.kz.txt
/left4dead2/addons/sourcemod/gamedata/sdkhooks.games/game.zpanic.txt
/left4dead2/addons/sourcemod/gamedata/sdktools.games/game.zpanic.txt
/left4dead2/addons/sourcemod/gamedata/sdkhooks.games/game.modularcombat.txt
/left4dead2/addons/sourcemod/gamedata/sdkhooks.games/game.neotokyo.txt
/left4dead2/addons/sourcemod/gamedata/sdkhooks.games/game.nmrih.txt
/left4dead2/addons/sourcemod/gamedata/sdkhooks.games/game.nucleardawn.txt
/left4dead2/addons/sourcemod/gamedata/sdkhooks.games/game.reactivedrop.txt
/left4dead2/addons/sourcemod/gamedata/sdkhooks.games/game.sgtls.txt
/left4dead2/addons/sourcemod/gamedata/sdkhooks.games/game.sourceforts.txt
/left4dead2/addons/sourcemod/gamedata/sdkhooks.games/game.synergy.txt
/left4dead2/addons/sourcemod/gamedata/sdkhooks.games/game.zm.txt

/left4dead2/addons/sourcemod/gamedata/sdkhooks.games/engine.blade.txt
/left4dead2/addons/sourcemod/gamedata/sdkhooks.games/engine.contagion.txt
/left4dead2/addons/sourcemod/gamedata/sdkhooks.games/engine.csgo.txt
/left4dead2/addons/sourcemod/gamedata/sdkhooks.games/engine.darkm.txt
/left4dead2/addons/sourcemod/gamedata/sdkhooks.games/engine.ep2v.txt
/left4dead2/addons/sourcemod/gamedata/sdkhooks.games/engine.insurgency.txt
/left4dead2/addons/sourcemod/gamedata/sdkhooks.games/engine.l4d.txt


/left4dead2/addons/sourcemod/gamedata/sdkhooks.games/master.games.txt
/left4dead2/addons/sourcemod/gamedata/sdktools.games/engine.bgt.txt
/left4dead2/addons/sourcemod/gamedata/sdktools.games/engine.blade.txt
/left4dead2/addons/sourcemod/gamedata/sdktools.games/engine.contagion.txt
/left4dead2/addons/sourcemod/gamedata/sdktools.games/engine.csgo.txt
/left4dead2/addons/sourcemod/gamedata/sdktools.games/engine.css.txt
/left4dead2/addons/sourcemod/gamedata/sdktools.games/engine.darkm.txt
/left4dead2/addons/sourcemod/gamedata/sdktools.games/engine.ep1.txt
/left4dead2/addons/sourcemod/gamedata/sdktools.games/engine.ep2.txt
/left4dead2/addons/sourcemod/gamedata/sdktools.games/engine.ep2valve.txt
/left4dead2/addons/sourcemod/gamedata/sdktools.games/engine.eye.txt
/left4dead2/addons/sourcemod/gamedata/sdktools.games/engine.insurgency.txt

/left4dead2/addons/sourcemod/gamedata/sdktools.games/engine.sdk2013.txt
/left4dead2/addons/sourcemod/gamedata/sdktools.games/engine.swarm.txt
/left4dead2/addons/sourcemod/gamedata/sdktools.games/game.ag2.txt
/left4dead2/addons/sourcemod/gamedata/sdktools.games/game.alienswarm.txt
/left4dead2/addons/sourcemod/gamedata/sdktools.games/game.aoc.txt
/left4dead2/addons/sourcemod/gamedata/sdktools.games/game.bg2.txt
/left4dead2/addons/sourcemod/gamedata/sdktools.games/game.cspromod.txt
/left4dead2/addons/sourcemod/gamedata/sdktools.games/game.cstrike.txt
/left4dead2/addons/sourcemod/gamedata/sdktools.games/game.dinodday.txt
/left4dead2/addons/sourcemod/gamedata/sdktools.games/game.dod.txt
/left4dead2/addons/sourcemod/gamedata/sdktools.games/game.doi.txt
/left4dead2/addons/sourcemod/gamedata/sdktools.games/game.dystopia.txt
/left4dead2/addons/sourcemod/gamedata/sdktools.games/game.empires.txt
/left4dead2/addons/sourcemod/gamedata/sdktools.games/game.esmod.txt
/left4dead2/addons/sourcemod/gamedata/sdktools.games/game.fas.txt
/left4dead2/addons/sourcemod/gamedata/sdktools.games/game.ff.txt
/left4dead2/addons/sourcemod/gamedata/sdktools.games/game.fof.txt
/left4dead2/addons/sourcemod/gamedata/sdktools.games/game.gesource.txt
/left4dead2/addons/sourcemod/gamedata/sdktools.games/game.hidden.txt
/left4dead2/addons/sourcemod/gamedata/sdktools.games/game.hl2mp.txt
/left4dead2/addons/sourcemod/gamedata/sdktools.games/game.insurgency.txt
/left4dead2/addons/sourcemod/gamedata/sdktools.games/game.kz.txt
/left4dead2/addons/sourcemod/gamedata/sdktools.games/game.modularcombat.txt
/left4dead2/addons/sourcemod/gamedata/sdktools.games/game.neotokyo.txt
/left4dead2/addons/sourcemod/gamedata/sdktools.games/game.nmrih.txt
/left4dead2/addons/sourcemod/gamedata/sdktools.games/game.nucleardawn.txt
/left4dead2/addons/sourcemod/gamedata/sdktools.games/game.obsidian.txt
/left4dead2/addons/sourcemod/gamedata/sdktools.games/game.pvkii.txt
/left4dead2/addons/sourcemod/gamedata/sdktools.games/game.reactivedrop.txt
/left4dead2/addons/sourcemod/gamedata/sdktools.games/game.rnlbeta.txt
/left4dead2/addons/sourcemod/gamedata/sdktools.games/game.ship.txt
/left4dead2/addons/sourcemod/gamedata/sdktools.games/game.sourceforts.txt
/left4dead2/addons/sourcemod/gamedata/sdktools.games/game.synergy.txt
/left4dead2/addons/sourcemod/gamedata/sdktools.games/game.zm.txt
/left4dead2/addons/sourcemod/gamedata/sdktools.games/master.games.txt
left4dead2/addons/sourcemod/gamedata/left4dhooks.temp.txt
left4dead2/addons/sourcemod/gamedata/sdktools.games/game.tf.txt
