

# Ignore certain file types
*.sq3
*.ekv
*.mdmp

### Ignore personal files 
# Let them use their own username etc.
/SmartSteamEmu.ini

# Differs for different installations
/VERSION.txt

# Personal pfp
/SmartSteamEmu/Common/deku.png

# Personal image for identifying installation
/FitGirl.jpg



### Ignore DLLs in main directory, let them use/choose their own
# FitGirl
/steamclient.dll
# Goldberg
/steam_api.dll
# SSE
/SmartSteamEmu.dll

# Ignore files in main directory
/debug.log
/unins000.exe
/unins000.dat
/left4dead2.exe
/left4dead2.ico
/steam_appid.txt


# Ignore some SSE icons and files
/SmartSteamEmu/Plugins/SSEOverlay/550/icon
/SmartSteamEmu/Plugins/SSEOverlay/550/achievements.db



# Ignore folders in main directory
/bin
/hl2
/update
/config
/_Redist
/platform
/left4dead2_dlc3
/left4dead2_dlc2
/left4dead2_dlc1
/left4dead2_lv


# Ignore left4dead2 folder files
/left4dead2/*.*
/left4dead2/*.md
/left4dead2/pak*_*.vpk
/left4dead2/whitelist.cfg
/left4dead2/voice_ban.dt
/left4dead2/steam.inf
/left4dead2/stats.txt
/left4dead2/shader_cache.cfg
/left4dead2/serverconfig.vdf
/left4dead2/scene.cache
/left4dead2/program_cache.cfg
/left4dead2/motd.txt
/left4dead2/modelsounds.cache
/left4dead2/missioncycle.txt
/left4dead2/maplist.txt
/left4dead2/mapcycle.txt
/left4dead2/lights.rad
/left4dead2/host.txt
/left4dead2/glbaseshaders.cfg
/left4dead2/gameinfo.txt
/left4dead2/dxsupport_override.cfg
/left4dead2/demoheader.tmp


### Ignore left4dead2 addons files/folders

# Ignore addon list 
/left4dead2/addonlist.txt

# Ignore readme
/left4dead2/addons/readme.txt

# Ignore workshop mod files
# Note: SteamSteamLoader deletes the contents!
/left4dead2/addons/workshop/

# Ignore other mod packs
/left4dead2/addons/RUNY_MODS

# Ignore certain sourcemod stuff
/left4dead2/addons/sourcemod/logs
/left4dead2/addons/sourcemod/gamedata/left4dhooks.temp.txt
/left4dead2/addons/sourcemod/gamedata/sdkhooks.games/game.zpanic.txt
/left4dead2/addons/sourcemod/gamedata/sdktools.games/game.zpanic.txt

# Ignore select things from media
#/left4dead2/media
left4dead2/media/l4d2_intro.bik
left4dead2/media/l4d2_intro_lv.bik
left4dead2/media/l4d2_intro_lv.mov
left4dead2/media/l4d2_upsell.bik
left4dead2/media/startupvids.360.txt
left4dead2/media/valve.bik
left4dead2/media/valve_xbox_legals.bik


# Ignore left4dead2 folder folders
/left4dead2/bin
/left4dead2/sound/
/left4dead2/scripts/
/left4dead2/screenshots/
/left4dead2/scenes/
/left4dead2/save/
/left4dead2/resource
/left4dead2/reslists
/left4dead2/models
/left4dead2/materials
/left4dead2/maps
/left4dead2/gfx
/left4dead2/expressions
/left4dead2/downloads


# Ignore left4dead2/cfg .cfg files that come with the game
/left4dead2/cfg/videodefaults.txt
/left4dead2/cfg/video.txt
/left4dead2/cfg/video.bak
/left4dead2/cfg/valve.rc
/left4dead2/cfg/valve.360.rc
/left4dead2/cfg/user_default.scr
/left4dead2/cfg/undo360controller.cfg
/left4dead2/cfg/test_start.cfg
/left4dead2/cfg/test_end.cfg
/left4dead2/cfg/splitscreen_on.cfg
/left4dead2/cfg/splitscreen_on.360.cfg
/left4dead2/cfg/splitscreen_off.cfg
/left4dead2/cfg/splitscreen_off.360.cfg
/left4dead2/cfg/moddefaults_mac.txt
/left4dead2/cfg/moddefaults.txt
/left4dead2/cfg/360controller.cfg
/left4dead2/cfg/addonconfig.cfg
/left4dead2/cfg/autoexec.360.cfg
/left4dead2/cfg/banned_ip.cfg
/left4dead2/cfg/config.360.cfg
/left4dead2/cfg/config.cfg
/left4dead2/cfg/config.global.360.cfg
/left4dead2/cfg/config_default.cfg
/left4dead2/cfg/joy_preset_1.cfg
/left4dead2/cfg/joy_preset_2.cfg
/left4dead2/cfg/joy_preset_3.cfg
/left4dead2/cfg/joy_preset_4.cfg
/left4dead2/cfg/listenserver.cfg
/left4dead2/cfg/listenserver360.cfg
/left4dead2/cfg/lowend.cfg
/left4dead2/cfg/modsettings.cfg
/left4dead2/cfg/perf.cfg
/left4dead2/cfg/playtest.360.cfg
/left4dead2/cfg/screenshots.cfg
/left4dead2/cfg/screenshots_undo.cfg
/left4dead2/cfg/settings_default.scr
/left4dead2/cfg/skill1.cfg
/left4dead2/cfg/video_bench_high.txt
/left4dead2/cfg/video_bench_low.txt
/left4dead2/cfg/video_bench_medium.txt
/left4dead2/cfg/video_bench_very_high.txt
/left4dead2/cfg/video_bench_very_high_4k.txt

