
update
_Redist
bin
config
hl2
left4dead2_dlc1
left4dead2_dlc2
left4dead2_dlc3
platform
unins000.dat
unins000.exe
steam_appid.txt
steamclient.dll
SmartSteamLoader.exe
left4dead2.exe
debug.log
left4dead2/addonlist.txt

left4dead/*.*

left4dead2/bin
left4dead2/downloads
left4dead2/expressions
left4dead2/gfx
left4dead2/media
left4dead2/models
left4dead2/scripts/
left4dead2/sound/
left4dead2/scenes/
left4dead2/addons/RUNY_MODS
left4dead2/materials
left4dead2/reslists
left4dead2/pak*_*.vpk
left4dead2/resource
left4dead2/maps
left4dead2/cfg/splitscreen_off.360.cfg
left4dead2/cfg/splitscreen_off.cfg
left4dead2/cfg/splitscreen_on.360.cfg
left4dead2/cfg/splitscreen_on.cfg
left4dead2/cfg/test_end.cfg
left4dead2/cfg/test_start.cfg
left4dead2/cfg/undo360controller.cfg
left4dead2/cfg/user_default.scr
left4dead2/cfg/valve.360.rc
left4dead2/cfg/valve.rc
left4dead2/cfg/video.bak
left4dead2/cfg/video.txt
left4dead2/cfg/videodefaults.txt
left4dead2/demoheader.tmp
left4dead2/dxsupport_override.cfg
left4dead2/gameinfo.txt
left4dead2/glbaseshaders.cfg
left4dead2/Gun_Damage_Booster-7.0-README.md
left4dead2/host.txt
left4dead2/lights.rad
left4dead2/mapcycle.txt
left4dead2/maplist.txt
left4dead2/cfg/*.cfg
*.ekv
left4dead2/cfg/moddefaults.txt
left4dead2/cfg/moddefaults_mac.txt
left4dead2/cfg/*.*
left4dead2/missioncycle.txt
left4dead2/modelsounds.cache
left4dead2/motd.txt
left4dead2/No_Friendly-Fire-8.5.md
left4dead2/program_cache.cfg
left4dead2/save/game_instructor_counts.txt
left4dead2/scene.cache
left4dead2/serverconfig.vdf
left4dead2/shader_cache.cfg
left4dead2/stats.txt
left4dead2/steam.inf
left4dead2/voice_ban.dt
left4dead2/whitelist.cfg
left4dead2/screenshots/c1m2_streets0000.jpg
SmartSteamEmu/Plugins/SSEOverlay/550/icon
SmartSteamEmu/Plugins/SSEOverlay/550/achievements.db
SmartSteamEmu/Plugins/SSEOverlay/Language.ini
SmartSteamEmu/Plugins/SSEOverlay/message.wav
SmartSteamEmu/Plugins/SSEOverlay/screenshot.wav
SmartSteamEmu/Plugins/x86/SSEOverlay.dll
SmartSteamEmu/Plugins/SSEOverlay.ini
left4dead2/addons/MY_DISABLED_MODS
